/ExamPreparation/nbproject/private/
/MidTrem/nbproject/private/
/ExamPreparation/Question_01/build/
/ExamPreparation/Question_01/nbproject/private/
/ExamPreparation/Question_Number_02/build/
/ExamPreparation/Question_Number_02/nbproject/private/
/ExamPreparation/Question_number_03/build/
/ExamPreparation/Question_number_03/nbproject/private/
/ExamPreparation/Question_number_05/build/
/ExamPreparation/Question_number_05/nbproject/private/
/ExamPreparation/Question_number_06/build/
/ExamPreparation/Question_number_06/nbproject/private/
/ExamPreparation/Qurstion_number_04/build/
/ExamPreparation/Qurstion_number_04/nbproject/private/
/java function/FacterialNumber/build/
/java function/FacterialNumber/nbproject/private/
/java function/LotteryCreate/build/
/java function/LotteryCreate/nbproject/private/
/java function/Max_Min/build/
/java function/Max_Min/nbproject/private/
/java function/MinMax/build/
/java function/MinMax/nbproject/private/
/java function/MinuteAndYear/build/
/java function/MinuteAndYear/nbproject/private/
/java function/Prime number/build/
/java function/Prime number/nbproject/private/
/java function/SeriesNumber/build/
/java function/SeriesNumber/nbproject/private/
/java function/forloopUse_maxNumber/build/
/java function/forloopUse_maxNumber/nbproject/private/
/java function/maxNumber/build/
/java function/maxNumber/nbproject/private/
/java function/onlyRageNumber/build/
/java function/onlyRageNumber/nbproject/private/
/java function/primeNumber/build/
/java function/primeNumber/nbproject/private/
/java function/rageNumber/build/
/java function/rageNumber/nbproject/private/
/java function/whileloop/build/
/java function/whileloop/nbproject/private/